/* Calendar and form container */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main container for form and calendar */
#main-container {
  gap: 20px;
}

/* Total events counter */
#event-summary {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Calendar */
#calendar {
  flex: 1;
  text-align: center;
}

#calendar table {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

th {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  padding: 10px;
}

.day {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  padding: 10px;
}

.today {
  background-color: palegreen;
}

.weekend {
  color: gray;
}

/* Event form container */
#event-form-container {
  padding: 10px;
}

/* Error message styling */
.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  text-align: center;
  display: block; 
}

#clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
